.konten {
	padding-top: 80px;
}
.profil {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
.subtitle {
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 32px;
	color: #000;
	margin: 10px;
}
.isi {
	padding: 35px 0px 35px 20px;
	background-color: rgb(240, 195, 112);
	border-radius: 20px;
	width: 50%;
	margin-left: 25%;
}
.isi img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 240px;
	width: 320px;
}

.isi h3 {
	text-align: center;
	color: white;
}

tr {
	font-size: 26px;
	margin: 10px;
	color: aliceblue;
}

.isi .satu {
	width: 100px;
}

.isi .batas {
	padding: 0px 10px;
}

.isi .dua {
	width: 500px;
}

table {
	margin-left: 33%;
}
