@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
  section{
    padding:20px ;
}
  body{
    font-family: montserrat;
  }
  nav{
    background: #ffbe76;
    height: 80px;
    width: 100%;
    position: fixed;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
  }
  .home{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:var(--black);
    font-size: 3rem;
}

.home .content h3 span{
    color:var(--orange);
}

.home .content p{
    color:var(--light-color);
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}
.search{
  top: 50%;
  left: 50%;
}

input[type="text"]{
  width:50%;
  border:2px solid #ffb159;
  border-radius:4px;
  outline:none;
  padding:8px;
  box-sizing:border-box;
}
button[type="submit"]{
  color: white;
  width: 7%;
  border:2px solid #ffb159;
  background: #ffbe76;
  border-radius:4px;
  outline:none;
  padding:8px;
  box-sizing:border-box
}

.features .box-container{
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1rem;
}

.features .box-container .box{
  color: white;
  padding:1rem 1rem;
  background: #ffbe76;
  outline: var(--outline);
  border-width: medium;
  border-radius: 20px;
  outline-offset: -1rem;
  text-align: center;
}

.features .box-container .box:hover{
  outline: var(--outline-hover);
  outline-offset: 0rem;
}

.features .box-container .box img{
  margin:1rem 0;
  height: 10rem;
}

.features .box-container .box h3{
  font-size: 25px;
  line-height: 1.8;
  color:var(--black);
}

.features .box-container .box p{
  font-size: 17px;
  line-height: 1.8;
  color:var(--light-color);
  padding:1rem 0;
}

.footer{
  color: white;
  margin-top: 100px;
  background: #ffbe76;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap:1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
  padding:1rem 0;
}

.footer .box-container .box h3 i{
  color:var(--orange);
}

.footer .box-container .box .links{
  display: block;
  font-size: 1.5rem;
  color:var(--light-color);
  padding:1rem 0;
}

.footer .box-container .box .links i{
  color:var(--orange);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
  padding-right: 2rem;
}

.footer .box-container .box p{
  line-height: 1.8;
  font-size: 1.5rem;
  color:var(--light-color);
  padding:1rem 0;
}

.footer .box-container .box .share a{
  height:2.5rem;
  width:2.5rem;
  line-height:2.5rem;
  border-radius: .5rem;
  font-size: 2rem;
  color:var(--black);
  margin-right: .2rem;
  background: lightblue;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background: var(--orange);
  color: #fff;
}
.footer .box-container .box h3{
  font-size: 26px;
}
.footer .box-container .box .links{
  font-size: 17px;
  line-height: 15px;
}
